<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643146942735-h4rlvfv702ovm4s3vn1f2dgf9629qjka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643146942735-h4rlvfv702ovm4s3vn1f2dgf9629qjka</string>
	<key>API_KEY</key>
	<string>AIzaSyBtPDYSWsNZQwNHN4AMHI3Vxs_hTw5_rk0</string>
	<key>GCM_SENDER_ID</key>
	<string>643146942735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nordic-it.mark5.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>mark5-testing-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mark5-testing-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643146942735:ios:030f8bd99ce8bd56</string>
	<key>DATABASE_URL</key>
	<string>https://mark5-testing-ios.firebaseio.com</string>
</dict>
</plist>