<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>reMARK</string>
	<key>CFBundleIdentifier</key>
	<string>com.nordic-it.mark5.mobile.ios</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>reMARK</string>
	<key>CFBundleShortVersionString</key>
	<string>5.12.14</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.nordic-it.mark5.mobile.ios</string>
				<string>remark.share.url</string>
				<string>remark.share.text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>578</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>sms</string>
		<string>http</string>
		<string>https</string>
		<string>googlechrome</string>
		<string>comgooglemapsurl</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to be able to attach pictures to email.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to display suggested emails.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>MARK5 needs your permission to use Face ID to provide additional security</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photos to be able to save photo attachments on your phone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to be able to attach pictures to email.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
