<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>documents</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>documents_to_download</string>
			<key>Key</key>
			<string>DocumentsToDownload</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>unread_indicator_me</string>
			<key>Key</key>
			<string>UnreadIndicatorMe</string>
			<key>DefaultValue</key>
			<true/>
			<key>Titles</key>
			<array>
				<string>me</string>
				<string>anyone</string>
			</array>
			<key>Values</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>show_creator_outgoing</string>
			<key>Key</key>
			<string>ShowCreatorOutgoing</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>compact_documents_list</string>
			<key>Key</key>
			<string>CompactDocumentsList</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>use_server_timezone</string>
			<key>Key</key>
			<string>UseServerTimezone</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>large_attachment_warning_desc</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>mark_as_read_delay_seconds</string>
			<key>Key</key>
			<string>MarkAsReadDelaySeconds</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Immediately</string>
				<string>1 second</string>
				<string>2 seconds</string>
				<string>3 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>document_body_request_type</string>
			<key>Key</key>
			<string>DocumentBodyRequestType</string>
			<key>DefaultValue</key>
			<false/>
			<key>Titles</key>
			<array>
				<string>html</string>
				<string>plain</string>
			</array>
			<key>Values</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>large_attachment_warning</string>
			<key>Key</key>
			<string>LargeAttachmentWarning</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>hide_read_notifications</string>
			<key>Key</key>
			<string>HideReadNotifications</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>compose_options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>compose_priority_enabled</string>
			<key>Key</key>
			<string>ComposePriorityEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>remove_line</string>
			<key>Key</key>
			<string>RemoveLine</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>use_template</string>
			<key>Key</key>
			<string>UseTemplate</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>default_template</string>
				<string>local_template</string>
				<string>always_ask</string>
				<string>dont_use</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>default_template_short</string>
				<string>local_template_short</string>
				<string>always_ask_short</string>
				<string>dont_use_short</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>localTemplate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>always_use_default_line</string>
			<key>Key</key>
			<string>AlwaysUseDefaultLine</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>search</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>documents_to_search</string>
			<key>Key</key>
			<string>DocumentsToSearch</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>contacts_to_search</string>
			<key>Key</key>
			<string>ContactsToSearch</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>shortcodes_to_search</string>
			<key>Key</key>
			<string>ShortcodesToSearch</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>partial_word_search</string>
			<key>Key</key>
			<string>PartialWordSearch</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>cache</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>clean_cache_interval_days</string>
			<key>Key</key>
			<string>CleanCacheIntervalDays</string>
			<key>Titles</key>
			<array>
				<string>3_days</string>
				<string>1_week</string>
				<string>2_weeks</string>
			</array>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>7</integer>
				<integer>14</integer>
			</array>
			<key>DefaultValue</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>clear_all_cache</string>
			<key>Key</key>
			<string>ClearCache</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>username</string>
			<key>Key</key>
			<string>username</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>server</string>
			<key>Key</key>
			<string>serverAddress</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>ssl</string>
			<key>Key</key>
			<string>sslEnabled</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>logout</string>
			<key>Key</key>
			<string>logout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>advanced</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>send_feedback</string>
			<key>Key</key>
			<string>sendFeedback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>create_system_report</string>
			<key>Key</key>
			<string>createSystemReport</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>update_config</string>
			<key>Key</key>
			<string>updateConfig</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>enable_reporting_desc</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>enable_reporting</string>
			<key>Key</key>
			<string>EnableReporting</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>about</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Key</key>
			<string>openSettingsApp</string>
			<key>Title</key>
			<string>open_settings_app</string>
		</dict>
	</array>
</dict>
</plist>
