<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>documents</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>documents_to_download</string>
			<key>Key</key>
			<string>DocumentsToDownload</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
			</array>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>unread_indicator_me</string>
			<key>Key</key>
			<string>UnreadIndicatorMe</string>
			<key>DefaultValue</key>
			<true/>
			<key>Titles</key>
			<array>
				<string>me</string>
				<string>anyone</string>
			</array>
			<key>Values</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>compact_documents_list</string>
			<key>Key</key>
			<string>CompactDocumentsList</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>large_attachment_warning_desc</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>mark_as_read_delay_seconds</string>
			<key>Key</key>
			<string>MarkAsReadDelaySeconds</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Immediately</string>
				<string>1 second</string>
				<string>2 seconds</string>
				<string>3 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>document_body_request_type</string>
			<key>Key</key>
			<string>DocumentBodyRequestType</string>
			<key>DefaultValue</key>
			<false/>
			<key>Titles</key>
			<array>
				<string>html</string>
				<string>plain</string>
			</array>
			<key>Values</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>large_attachment_warning</string>
			<key>Key</key>
			<string>LargeAttachmentWarning</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
